# compiled output
/dist
/tmp

# runtime data
pids
*.pid
*.seed
*.pid.lock

# editor
.vs
.vscode/*

# misc
.sass-cache
connect.lock
typings

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# dependency
node_modules/

# yarn integrity file
.yarn-integrity

# dotenv environment variables
# .env