::selection {
  background-color: #7606f7;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  transition: all 1s ease-in-out 0s;
  background: #5864e6;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  word-break: break-word;
}
